/data/**
**/target/**
.idea/
**/.vscode/
**/.venv/**

**.wasm

protocol/generated/**
function-stream/**
distribution/

examples/go-processor/bindings/**
examples/go-processor/build/**
examples/python-processor/build/**
examples/python-processor/dependencies/**
python/python-client/src/fs_client/_proto/
python/functionstream-api/build


# Python Runtime - Build artifacts and intermediate files
python/**/bindings/
python/**/dependencies/
python/**/target/
**/**.egg-info
.cache/
