/data/**
**/target/**
.idea/
**/.vscode/
**/.venv/**
**/dist/**
logs/**

**.wasm

protocol/generated/**
function-stream/**
distribution/
.function-stream-cli-history

examples/go-processor/bindings/**
examples/go-processor/build/**
examples/python-processor/build/**
examples/python-processor/dependencies/**
python/functionstream-client/src/fs_client/_proto/
python/functionstream-api/build


# python Runtime - Build artifacts and intermediate files
python/**/bindings/
python/**/dependencies/
python/**/target/
**/**.egg-info
.cache/
/.cursor/worktrees.json
