/data/**
**/target/**
.idea/
**/.vscode/

**.wasm

protocol/generated/**
function-stream/**
distribution/

examples/go-processor/bindings/**
examples/go-processor/build/**
examples/python-processor/build/**
examples/python-processor/dependencies/**


# Python Runtime - Build artifacts and intermediate files
python-runtime/**/bindings/
python-runtime/**/dependencies/
python-runtime/**/target/
**/**.egg-info
.cache/
